<section class="cmp-overview" id="overview">
      <div class="container">
        <div class="row">
            <div class="overview-wrapper">
                <div class="overview-heading-wrapper">
                    <h3 class="cmp-overview__heading">${properties.header || 'Something cool'}</h3>
                </div>
                <div class="overview-text-wrapper">
                    <p class="cmp-overview__text">${properties.text || 'Something cool'}</p>
                </div>
            </div>
        </div>
      </div>
</section>
