<section data-sly-use.carousel="com.jolt.core.models.CarouselModel"
         data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         data-sly-use.cardsTemplate="cards.html"
         data-sly-test.hasContent="${carousel.title || carousel.cards.size > 0}"
         class="cmp-carousel" id="${carousel.id}">
    <div class="container">
        <div class="cmp-carousel__content">
            <h4 class="cmp-carousel__heading">${carousel.title}</h4>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <sly data-sly-call="${cardsTemplate.cards @ carousel=carousel}"></sly>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-carousel'}"></sly>
