<section data-sly-use.catalog="com.jolt.core.models.CatalogModel"
         data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
         data-sly-use.cardsTemplate="cards.html"
         data-sly-test.hasContent="${catalog.title || catalog.cards.size > 0}"
         class="cmp-catalog" id="${catalog.id}">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h3 class="cmp-catalog__heading">${catalog.title}</h3>
        </div>
        <div class="cmp-catalog__content">
            <sly data-sly-call="${cardsTemplate.cards @ catalog=catalog}"></sly>
        </div>
        <div class="d-flex justify-content-center cmp-catalog__view-all">
            <a href="${catalog.ctaUrl}" class="btn btn btn-outline-primary fw-bold cmp-catalog__btn">${catalog.ctaText}</a>
        </div>
    </div>
</section>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-catalog'}"></sly>