<section class="cmp-navigation">
    <div class="cmp-navigation__content">
        <div class="container">
            <nav class="cmp-navigation__nav nav">
                <a class="nav-link fw-bold active" href="#${properties.splitnavhash1 || 'overview'}">${properties.splitnavheader1 || 'Overview'}</a>
                <a class="nav-link fw-bold ${properties.splitnavhash2 && properties.splitnavheader2 ? 'cmp_not_hidden' : 'cmp_hidden'}" href="#${properties.splitnavhash2}">${properties.splitnavheader2}</a>
                <a class="nav-link fw-bold ${properties.splitnavhash3 && properties.splitnavheader3 ? 'cmp_not_hidden' : 'cmp_hidden'}" href="#${properties.splitnavhash3}">${properties.splitnavheader3}</a>
                <a class="nav-link fw-bold ${properties.splitnavhash4 && properties.splitnavheader4 ? 'cmp_not_hidden' : 'cmp_hidden'}" href="#${properties.splitnavhash4}">${properties.splitnavheader4}</a>
                <a class="nav-link fw-bold ${properties.splitnavhash5 && properties.splitnavheader5 ? 'cmp_not_hidden' : 'cmp_hidden'}" href="#${properties.splitnavhash5}">${properties.splitnavheader5}</a>
                <a class="nav-link fw-bold ${properties.splitnavhash6 && properties.splitnavheader6 ? 'cmp_not_hidden' : 'cmp_hidden'}" href="#${properties.splitnavhash6}">${properties.splitnavheader6}</a>
            </nav>
        </div>
    </div>
</section>